/*
 * SPDX-License-Identifier: BSD-3-Clause
 * SPDX-FileCopyrightText: © 2025-2026 Sirius Global Limited.
 *                         All rights reserved.
 */

/*
@-moz-document domain("linkedin.com") {
*/

:root {
    --color-background-container: #000000;
    --color-background: #000000;
    --color-background-container-tint: #000000;
    --color-background-container-dark: #000000;
    --voyager-color-background-container-tint-2: #101010;
    --color-background-container-dark-tint: #000000;
    --voyager-color-background-input-search: #101010;
    --messenger-color-background-input-message: #101010;
    --voyager-color-action-selected: #000000;
}

@layer atoms {
    div[data-testid="primary-nav"], input {
        background-color: #000000 !important;   
    }
}

/*
}
*/
